.app-button {
  display: block;
  border: none;
  border-radius: 4px;
  padding: 0 16px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  color: $color__text--lightest;
  font-weight: 900;
  cursor: pointer;
  transition: all 0.3s ease-in;
  width: auto;
  font-size: calc(#{$fs__sm} + #{$fluid-typography-ratio--nm} * 1vw);
  background: $color__bg--accent;
  will-change: background;

  &:hover {
    background: $color__bg--accent;
  }
}

.app-button--small {
  height: 32px;
  line-height: 32px;
  font-size: calc(#{$fs__xs} + (#{$fs__sm} - #{$fs__xs}) * ((100vw - 320px) / (1920 - 320)));
}