* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* margins */
.mt-xs {
  margin-top: $xs;
}

.mb-xs {
  margin-bottom: $xs;
}

.mt-xl {
  margin-top: $xl
}

.mb-xl {
  margin-bottom: $xl;
}