/* text colors */
$color__text--default: #0a0b14;
$color__text--dark-blue: #090b29;
$color__text--lightest: #FFFFFF;
$color__link-default: #0f1243;
$color__link-active: #db1c02;

/* document colors */
$color__bg--default: #FFFFFF;
$color__bg--lightest: #F5F5F5;
$color__bg--light-blue: #bec3f7;
$color__bg--accent-blue: #b1b7fc;

/* font sizes */
$fs__xs: 9px;
$fs__sm: 12px;
$fs__nm: 14px;
$fs__lg: 16px;
$fs__xl: 24px;
$fs__xxl: 32px;
$fs__xxxl: 48px;